@import "variables";
// @import "bootstrap.min";
@import "toast-grid";
.login_box {
    @extend .row;
    width: 100%;
    height: 100%;
    margin: 0;
    &__image {
        // @extend .col-md-4;
        // @extend .col-sm-12;
        @extend .col;
        @extend .col--m-1-of-2;
        padding: 0;
        height: 100%;
        background: url('/style/main-min.png');
        background-size: cover;
        filter: grayscale(80%);
        &--blur {
            background: $color-dark;
            opacity: 0.9;
            width: 100%;
            height: 100%;
        }
    }
    &__form {
        // @extend .col-md-8;
        // @extend .hidden-sm;
        @extend .col;
        @extend .col--m-1-of-2;
        height: 100%;
    }
}