@font-face {
    font-family: "Hind";
    src: url('Fonts/Hind-Regular.ttf');
}

@font-face {
    font-family: "Hind";
    src: url('Fonts/Hind-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: "Playfair";
    src: url('Fonts/PlayfairDisplay-Regular.ttf');
}

@font-face {
    font-family: "Playfair";
    src: url('Fonts/PlayfairDisplay-Bold.ttf');
    font-weight: bold;
}

$background-color: #F9F9FB;
$color-light:#ccc;
$color-medium:#989898;
$color-dark:#313a42;
$color-link:#757575;
$join-btn-color:#22d486;
$join-btn-hover-color:#16ad69;
$leave-btn-color:#ff0078;
$leave-btn-hover-color:#d10061;
$edit-btn-color:#D8DAE1;
$edit-btn-hover-color:#b7bdc5;